.container
  max-width: 1000px
  margin: 65px auto
  padding: 0 15px
.head
  background-color: #f3f3f3
  padding:  1px 15px
  border-bottom: solid 5px #fff
.main-block
  display: flex
  padding:  8px 15px
  background-color: #f3f3f3
  .users
    width: 25%
    padding-right: 15px
    .search > input
      width: 75%
      line-height: 25px
      padding: 0 15px
      box-sizing: border-box
      border: solid 1px #cacaca
    .search > button
      width: 25%
      line-height: 25px
      border: none
      background-color: #2196F3
      color: #fff
      text-transform: uppercase
      font-weight: bold
      cursor: pointer
      &:hover
        opacity: 0.7
  .users-info
    width: 75%
    padding-left: 15px
  .users-list 
    margin-top: 15px
    padding-top: 1px
    padding-left: 0
    // overflow-y: scroll
    li
      list-style: none
      cursor: pointer
      border: solid 1px #333333
      margin-top: -1px
      padding: 4px 8px
      text-align: center
      &.active
        background-color: #2196F3
        color: #fff
@media screen and (max-width: 800px)
  .main-block
    display: block
    .users
      width: 100%
    .users-info
      width: 100%
      padding: 0