.hobby
  display: flex
  justify-content: space-between
  border-bottom: solid 1px #d4d4d4
  .remove
    color: #f44336
    font-weight: bold
    border: solid 1px #f44336
    padding: 0 5px
    cursor: pointer
    margin-left: 10px