@import '../../styles/colors'
.add-user
  display: flex
  input
    padding-left: 15px
.form-item
  flex: 1 0 auto
  margin-right: 1%
  line-height: 23px
  border: solid 1px $border-color
  &:last-child
    margin-right: 0
    border: none
    background-color: $primary-color
    color: $white-color
    font-weight: bold
    text-transform: uppercase
    cursor: pointer
    &:hover
      opacity: 0.7
.user-hobbies
  height: 200px
  overflow-y: scroll

@media screen and (max-width: 800px)
  .add-user
    display: block
    border-top: solid 1px $border-color
    padding-top: 15px
    margin-top: 25px
  .form-item
    width: 100%
    margin: 7px 0
    box-sizing: border-box
    height: 25px